<div class="span-30">
	<div class="span-7">&nbsp;</div>
	<% @milestone_presets.each do |preset| %>
	<div class="span-4 small align-center"><%= preset %></div>
	<% end %>
	<br class="clear" />
</div>
	
	
<ul id="projects" class="projects">
<% @projects.each do |project| %>

	<%= content_tag_for :li, project do %>
		#<%= project.priority %> . <%= project.name %>

			<br />
			<span class="small"><%= project.company.name %> . 
				<%= link_to 'edit', edit_project_path(project) %> .
				<% if project.hidden %>
					<%= link_to('un-hide','/projects/show/' + project.id.to_s) %> .
				<% else %>
					<%= link_to('hide','/projects/hide/' + project.id.to_s) %> .
				<% end %>
				<%= link_to 'basecamp' , 'https://ibethel.basecamphq.com/projects/' + project.bc_id.to_s, :target=>"_blank" %>
			</span>
		
		<ul>
		<% project.media_milestones.each do |milestone| %>
			<li class="small <%= milestone.completed == 'true' ? 'completed' : milestone.id ? 'pending' : 'not-found' %>">
				<% if milestone.completed == 'true' %> 
					done
				<% elsif milestone.id %>
					- - 
				<% else %>
					!!
				<% end %>
			</li>
		<% end %>
		</ul>

		

		<% end %>

<% end %>
</ul>