	<div class="span-30">
		<div class="span-11">&nbsp;</div>
		<% @milestone_presets.each do |preset| %>
			<div class="span-4 small align-center"><%= preset %></div>
		<% end %>
		<br class="clear" />
	</div>
	
	
<% @projects.each do |project| %>

<div class="project-row">

	<div class="span-11 align-right">
		<%= link_to(project.name,'https://ibethel.basecamphq.com/projects/' + project.id.to_s) %>
		<br /><span class="small"><%= project.company.name %></span>
	</div>

		<% project.media_milestones.each do |milestone| %>
			<div class="span-4 align-center small <%= milestone.completed == 'true' ? 'completed' : milestone.id ? 'pending' : 'not-found' %>">
				<% if milestone.completed == 'true' %> 
					done
				<% elsif milestone.id %>
					- - 
				<% else %>
					!!
				<% end %>
			</div>
		<% end %>

		<div class="span-1 small">
			<% if project.hidden %>
				<%= link_to('show','/projects/show/' + project.id.to_s) %>
			<% else %>
				<%= link_to('hide','/projects/hide/' + project.id.to_s) %>
			<% end %>
		</div>

	<br class="clear" />

</div>

<% end %>