<!DOCTYPE html>
<html>
<head>
  <title>Basecamp Projects</title>
  <%= stylesheet_link_tag "blueprint/screen", "blueprint/ie", "style" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	
	<div id="container">
		
	 <% if flash[:notice] %>
	      <p class="notice" id="topNotice"><%= flash[:notice] %></p>
	    <% end %>
	    <% if flash[:error] %>
	      <p class="error" id="topError"><%= flash[:error] %></p>
	 <% end %>
		
		<div class="guts prepend-1 prepend-top append-1">
			
			<div id="header">
				<div class="nav medium append-1">
					<ul>
						<li><%= link_to("Active Projects","/projects/index") %></li>
						<li><%= link_to("Hidden Projects","/projects/hidden") %></li>
					</ul>
				</div>
				<div id="logo" class="prepend-1">Basecamp Projects</div>
			</div>

			<div class="float-right small append-1">
				<%= last_update.updated.to_s(:updated_time) %>. <%= link_to("Update Now", "update_project_cache") %>
			</div>
			<br class="clear" />
			
			<div class="box">
				<%= yield %>
			</div>
		</div>
	</div>

</body>
</html>
